<section id="home_bg">
    <div id="intro">
        <div class="main_container">
            <div class="nft">
                <div class="text">
                    <a href="/home">
                        <h2>
                            Experience Our Culinary Delights!
                        </h2>
                    </a>
                </div>
                <div>
                    <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
                </div>
            </div>
        </div>
    </div>
</section>