#intro {
    width: 95vw;
    height: 105vh;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.cards {
    padding: 10rem;
    width: 60vw;
}


.nft {
    user-select: none;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    background-color: #000000;
    background: linear-gradient(0deg, #fe62626e 0%, rgba(118, 118, 118, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
}

.nft ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
}

.nft:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.nft:hover ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
}

.text {
    margin-top: 10rem;
    margin-left: 3rem;
    width: 25rem;


}

h2 {
    font-size: 3.5rem;
    background: #FCE63E;
    background: linear-gradient(to top, #ff5050 0%, rgb(255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}